* {
  font-family: sans-serif;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
 
}
.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 0 solid black;
}
input[type=number] {
  width: 200px;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 1px;
  font-size: 25px;
  position: relative;
  left: 15px;
}
button {
  border-radius: 1px;
  background-color: rgb(228, 248, 255);
  font-size: 25px;
  cursor: pointer;
  width: 150px;
  height: 60px;
  position: relative;
  left: 110px;
  }
.label {
  position: relative;
  right: 100px;
}